@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background: var(--color-amber-50);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ROLADOR GLOBAL*/
::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--color-amber-100);
}
/* scrol */
::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: var(--color-gray-500);
    border-radius: 3rem;
}

input:focus {
  background-color: transparent;
  outline: none;
  background: transparent;
  /* outras propriedades */
}
input {
  background-color: transparent;
  background: transparent;
  outline: none;
  /* outras propriedades */
}