@import "tailwindcss";
@import "tw-animate-css";

/* ROLADOR GLOBAL*/
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--color-amber-50);
}
/* scrol */
::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: var(--color-zinc-800);
    border-radius: 3rem;
}
body{
  background-color: var(--color-amber-100);
}